:root {
  // color
  --el-menu-active-color: #FFF;
  --el-menu-hover-bg-color: unset;
  // --el-color-primary: #017EC4;
  --el-color-primary: #F40;
  --el-color-danger: #f83104;
  --el-text-color-regular: #000;
  --el-color-primary-light-3: rgb(255, 157, 122);
  --el-color-primary-dark-2: rgb(255, 68, 0);
  --el-fill-color-blank: rgba(255, 255, 255, .8);

  // border
  --el-border-color: #dfdfdf;
  --el-border-radius-base: 4px;
}